<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>EUR.USD</string>
	<string>USD.JPY</string>
	<string>EUR.JPY</string>
	<string>GBP.USD</string>
	<string>EUR.GBP</string>
	<string>USD.CHF</string>
	<string>EUR.CHF</string>
	<string>AUD.USD</string>
	<string>NZD.USD</string>
	<string>USD.CAD</string>
  <string>GBP.JPY</string>
  <string>EUR.DKK</string>
  <string>USD.HKD</string>
  <string>CHF.JPY</string>
  <string>USD.NOK</string>
  <string>EUR.SEK</string>
  <string>USD.MXN</string>
  <string>GBP.CHF</string>
  <string>EUR.NOK</string>
  <string>USD.ZAR</string>
  <string>AUD.NZD</string>
  <string>AUD.CAD</string>
  <string>USD.SGD</string>
  <string>AUD.JPY</string>
  <string>EUR.AUD</string>
  <string>EUR.NZD</string>
  <string>EUR.CAD</string>
  <string>USD.RUB</string>
  <string>GBP.CAD</string>
  <string>GBP.AUD</string>
  <string>USD.SEK</string>
</array>
</plist>
